---
import '@/styles/globals.css'
import AppPage from '@/components/AppPage';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Wake-on-LAN Dashboard</title>
	</head>
	<body class="bg-gray-100 text-gray-900">
		<AppPage client:load />
</html>

