---
import '@/styles/globals.css'
import AppPage from '@/components/AppPage';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Wake-on-LAN Dashboard</title>
	</head>
	<body class="bg-slate-100 dark:bg-slate-800 text-slate-900 dark:text-white transition-colors duration-300">
		<div class="min-h-screen flex flex-col">
			<header class="bg-slate-800 text-white py-2"></header>
			<main class="flex-grow container mx-auto px-4 py-8">
				<AppPage client:load />
			</main>
			<footer class="bg-slate-800 dark:bg-slate-800 text-white py-4 mt-8 transition-colors duration-300">
				<p>&copy; 2024 Wake-on-LAN Dashboard. All rights reserved.</p>
			</footer>
		</div>
		
</html>

